@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,300italic);

body {
    color: #1a0912;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Roboto Slab', serif;
}

label {
    font-weight: bolder;
    padding-right: 10px;
}

input[type="text"] {
    margin: 0;
    font-family: sans-serif;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    padding: 5px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}

input[type="text"]:focus {
    outline: none;
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

button {
    margin-top: 20px;
    font-family: Arial;
    color: #f0f0f0;
    font-size: 12px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: 0px;
}

button:hover {
    background: #3cb0fd;
    text-decoration: none;
    border: 0px;
}

.center-text {
    text-align: center;
}

.footer {
    margin-top: 50px;
}