{% extends 'layout.html.twig' %}
{% block content %}
    <h2>API</h2>
    <p><em>Better looking API documentation coming soon.</em></p>
    <p>Make a <code>GET</code> request to <code>/car-model-score</code> with the query string parameter <code>model_name</code> set to the car model name you wish to calculate a score for. Use <code>Accept: application/json</code> to request a JSON payload, or <code>Accept: application/xml</code> to request an XML payload.</p>

    <h3>Example</h3>
    <code>GET /car-model-score?model_name=Come+on+fhqwhgads</code>
    <p>The resulting score will be available in the resulting payload as <code>score</code></p>

    <h3>JSON</h3>
<pre><code>{"model_name":"Come on fhqwhgads","score":-1.54}</code></pre>

    <h3>XML</h3>
<pre><code>&lt;?xml version="1.0"?&gt;
&lt;response&gt;&lt;model_name&gt;Come on fhqwhgads&lt;/model_name&gt;&lt;score&gt;-1.54&lt;/score&gt;&lt;/response&gt;</code></pre>

    <a href="/">Go back to the form to get more scores</a>
{% endblock %}