<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Model Name Score</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1 class="center-text">Car Model Name Score</h1>
    {% block content %}
        {{ content | raw }}
    {% endblock %}
    <div class="footer">
        <p><em>Site by Thomas Ward III &mdash; Based on <a href="https://xkcd.com/1571/">this xkcd comic</a></em></p>
        <p><em><a href="https://gitlab.com/thomaswardiii/carmodelname">Source code here</a></em></p>
        <p><em><a href="{{ path_for('api') }}">API documentation</a></em></p>
    </div>
</body>
</html>