{% extends 'layout.html.twig' %}
{% block content %}
    <h2 class="center-text">Site under maintenance</h2>
    <div class="center-text">
        <p>The site is currently undergoing maintenance. Please try again later.</p>
    </div>
{% endblock %}
