<div class="center-text">
<p>Enter the name of a car model below to calculate how car-like your name is.</p>
<form method="get" action="{{ path_for('car_model_score') }}">
    <div>
    <label>Model Name</label>
    <input type="text" name="model_name" autofocus="autofocus">
    </div>
    <button type="submit">Get Score</button>
</form>
</div>
