{% extends 'layout.html.twig' %}
{% block content %}
    <h2 class="center-text">Model name: {{ model_name }}<br>
    Score: {{ '%01.2f'|format(score) }}</h2>
    {% include 'main_form.html.twig' %}
{% endblock %}